.word_list{
    display:flex;
    justify-content:space-around;
    .ol_label{
	color: lime;
    }
    .check_box{
	position: relative;
	display: flex;
	justify-content:space-around;
	top: -26px;
	margin-left: 150px;

    }
}

